<div class="container mt-4">
    <h1>List Screen</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" (click)="sort('transactionRef')">Transaction Ref.</th>
          <th scope="col" (click)="sort('instrumentId')">Instrument Name</th>
          <th scope="col" (click)="sort('instrumentName')">Instrument Value</th>
          <th scope="col" (click)="sort('instrumentType')">Instrument Type</th>
          <th ></th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
          <th scope="row">{{ item.transactionRef }}</th>
          <td>{{ item.instrumentId }}</td>
          <td>{{ item.instrumentName }}</td>
          <td>{{ item.instrumentValue }}</td>
          <td>{{ item.instrumentType }}</td>
          <td><button class="btn btn-dark"> - </button></td>
          <!-- Add more columns as needed -->
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="5" [directionLinks]="true" [responsive]="true"></pagination-controls>
  </div>
